<MudDialog>
    <TitleContent>
        <MudText Typo="Typo.h6">
            <MudIcon Icon="@TitleIcon" /> @Title
        </MudText>
    </TitleContent>
    <DialogContent>
        @if (_processing)
        {
            <MudProgressCircular Class="m-sm-n1" Size="Size.Large" Indeterminate="true" />
            <MudText Class="m-sm-2">Esperando respuesta de servidor...</MudText>
        }
        else
        {
            <MudContainer Style="max-height: 500px; overflow-y: scroll;">
                <div class="form-group">
                    <MudText Typo="Typo.subtitle1" Align="Align.Center">
                        ¿Desea remover de rol (@Reference.Name) al usuario seleccionado?
                    </MudText>
                </div>
                <MudForm Model="Model" @ref="Form">
                    <MudGrid>
                        <MudItem xs="12">
                            <MudText Typo="Typo.subtitle1">ID</MudText>
                            <MudTextField ReadOnly Variant="Variant.Outlined" Value="Model.Id" />
                        </MudItem>
                        <MudItem xs="6">
                            <MudText Typo="Typo.subtitle1">Nombre de usuario</MudText>
                            <MudTextField Value="Model.UserName" ReadOnly Variant="Variant.Outlined" />
                        </MudItem>
                        <MudItem xs="6">
                            <MudText Typo="Typo.subtitle1">Nombre normalizado de Usuario</MudText>
                            <MudTextField ReadOnly Variant="Variant.Outlined" Value="Model.NormalizedUserName" />
                        </MudItem>
                        <MudItem xs="6">
                            <MudText Typo="Typo.subtitle1">Sello de concurrencia</MudText>
                            <MudTextField ReadOnly Variant="Variant.Outlined" Value="Model.ConcurrencyStamp"/>
                        </MudItem>
                        <MudItem xs="6">
                            <MudText Typo="Typo.subtitle1">Sello de seguridad</MudText>
                            <MudTextField ReadOnly Variant="Variant.Outlined" Value="Model.SecurityStamp" />
                        </MudItem>
                    </MudGrid>
                </MudForm>
            </MudContainer>
        }
    </DialogContent>
    <DialogActions>
        <MudButton Variant="Variant.Text" Class="mx-1"
                   OnClick="() => Dialog.Cancel()" Disabled="_processing">
            Cerrar
        </MudButton>
        <MudButton Variant="Variant.Filled" Color="@ButtonColor" Class="mx-1"
                   OnClick="async () => await Submit()" Disabled="_processing">
            Remover
        </MudButton>
    </DialogActions>
</MudDialog>